body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "the-seasons";
  src: url("./fonts//theseasonsBetter.woff");
}
.image-container {
  width: 200px; /* or any other size */
  height: 200px; /* maintain aspect ratio */
  position: relative;
}
.image-container img {
  position: absolute;
  width: 120%;
  left: -10%;
  top: -50%;
  z-index: 10;
}
.circle-container {
  width: 280px; /* Diameter of the circle */
  height: 300px; /* Diameter of the circle */
  overflow: hidden; /* Hides the overflow part of the image */
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 10%;
  align-items: center; /* Optional: if you want a border around the circle */
}
.headshot {
  position: absolute;
  width: auto; /* Maintain aspect ratio */
  height: 120%; /* Height greater than the container to create the popping-out effect */
  z-index: 10;
  top: -20px;
}
.oval-image img {
  transform: rotate(-30deg);
}
.sub-blurb {
  background-color: inherit;
  border-color: white;
  color: white;
  border-radius: 5px;
  width: 100px;
}

.image-vert-container {
  width: 100%; /* or any other size */
  height: auto; /* maintain aspect ratio */
  clip-path: ellipse(40% 45% at 60% 50%);
}

.project-card {
  display: flex;
  background-color: gray;
  border: white;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 1px solid #ccc;
  text-align: center;
  width: 200px;
  height: 200px;
}
